.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
    /* чтобы всплывающее окно за экан не выходило внизу */
    max-height: 20rem;
    /* чтобы скролл не всегда был а только 
    при переполнении устанавливаем обязательно auto ! */
    overflow-y: auto;
  }

  /* .cart-items:not( :hover ){ 
    overflow-y: hidden;
   } */
  /* .cart-items:hover {
    overflow-y: auto
  } */

  .cart-items::-webkit-scrollbar {
    width: 7px;
  }

  .cart-items::-webkit-scrollbar-track {
    /* background-color: #e4e4e4; */
    border-radius: 100px;
  }

  /* добавлдение hover помогло сделать так что исчезает thumb при mouseout!! */
  .cart-items:hover::-webkit-scrollbar-thumb {
    
    box-shadow: inset 0 0 6px rgba(90, 26, 1, 1);
    border-radius: 100px;
    /* забавный эффект что thumb не весь трек занимает а внутри находится */
    /* border: 2px solid transparent; */
  }
  
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .actions {
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
  }
  
  .actions .button--alt {
    color: #8a2b06;
  }
  
  .actions .button {
    background-color: #8a2b06;
    color: white;
  }